<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:replace="Layouts/fragmentos :: cabeza">
<meta charset="utf-8">

</head>
<body>

	<input type="checkbox" id="check">
	<!--header area start-->
	<div class="cabeza" th:replace="Layouts/fragmentos :: Primerfragment"></div>
	<!--header area end-->
	<div class="mobile_nav"
		th:replace="Layouts/fragmentos :: Segundofragment"></div>
	<!--sidebar start-->
	<div class="sidebar" th:replace="Layouts/fragmentos :: Tercerfragment"></div>
	<!--sidebar end-->

	<div class="content">
	<div th:replace="Layouts/fragmentos :: advertencias"></div>
		<div class="container mt-4">
			<form th:action="@{/almacen/form}" th:object="${almacen}"
				method="post" class="needs-validation" novalidate>
				<div class="card">
					<div class="card-header color-barra text-white">Datos del
						Almacen</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 mb-3">
								<label>Tienda:</label> <select class="form-control"
									th:field="*{tienda.id}" required="required">
									<option="">Seleccione una opción</option>
									<option th:each="item : ${listaTienda}" th:value="${item.id}"
										th:text="${item.nombre}"></option>
								</select>
								<div class="invalid-feedback">Seleccione un almacén</div>
							</div>
							</div>
							<div class="row">
								<div class="col-md-6 mb-3">
									<label>Nombre del almacen: </label> <input type="text"
										class="form-control" th:field="*{nombrealmacen}"
										placeholder="Ingrese Marca del Producto"
										pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}"
										title="Username should only contain lowercase letters. e.g. john"
										required="required" />
									<div class="invalid-feedback">Ingrese Nombre del almacen</div>
									
									
									 
									<small class="form-text text-danger"
									th:if="${#fields.hasErrors('nombrealmacen')}"
									th:errors="*{nombrealmacen}"></small>
									
									
									
									
								</div>
								<div class="col-md-6 mb-3">
									<label>Direccion del Almacen: </label> <input type="text"
										class="form-control" th:field="*{direccionalmacen}"
										placeholder="Ingrese Nombre del Producto"
										pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}"
										required="required" />
									<div class="invalid-feedback">Ingrese Direccion</div>
									<small class="form-text text-danger"
									th:if="${#fields.hasErrors('direccionalmacen')}"
									th:errors="*{direccionalmacen}"></small>
								</div>
								<div class="col-md-6 mb-3">
									<label>Teléfono del almacén	: </label> <input type="number"
										class="form-control" th:field="*{telefono}"
										placeholder="Ingrese Teléfono"
										pattern="[0-9]{1,40}" required="required" />
									<div class="invalid-feedback">Ingrese Telefono </div>
									<small class="form-text text-danger"
									th:if="${#fields.hasErrors('telefono')}"
									th:errors="*{telefono}"></small>
								</div>								
								<div class="col-md-6 mb-3">
									<label>Tipo de Almacen: </label> <input type="text"
										class="form-control" th:field="*{tipo}"
										placeholder="Ingrese precio del Producto" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}"
										required="required" />
									<div class="invalid-feedback">Ingrese Tipo</div>
									<small class="form-text text-danger"
									th:if="${#fields.hasErrors('tipo')}"
									th:errors="*{tipo}"></small>
								</div>								
							</div>

						</div>
						<div class="row">
							<div class="col-12 text-center mb-4">
								<button type="submit" class="btn btn-warning">
									<i class="fas fa-save"></i> Guardar Usuario
								</button>
							</div>
						</div>
						
					</div>
				</div>
			</form>
			<br>
			<div class="card">
				<div class="card-header color-barra text-white">Almacen
					Registradas</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Id_tienda</th>
									<th scope="col">Nombre almacen</th>
									<th scope="col">Dirección almacén</th>
									<th scope="col">Teléfono</th>
									<th scope="col">Tipo</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item: ${listaAlmacen}">
									<td th:text="${item.id}"></td>
									<td th:text="${item.tienda.nombre}"></td>
									<td th:text="${item.nombrealmacen}"></td>
									<td th:text="${item.direccionalmacen}"></td>
									<td th:text="${item.telefono}"></td>
									<td th:text="${item.tipo}"></td>
									
																											
									
									<td class="text-center">
									<a href="#"  th:id="${item.id}"
										th:param1="${item.tienda.id}"
										th:param2="${item.nombrealmacen}"
										th:param3="${item.direccionalmacen}"
										th:param4="${item.telefono}"
										th:param5="${item.tipo}"										
										class="btn btn-warning editarAlmacen"><i
											class="fas fa-edit"></i> Editar</a>
									<a th:onclick="eliminar([[${item.id}]])" href="#"
									class="btn btn-danger"><i
										class="fas fa-trash"></i> Eliminar</a>	
							   		
							   		
							   		
							   		
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Editar Categoria -->
	<div id="editarAlmacen" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
		data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header color-barra text-white">
					<h5 class="modal-title">Editar Categoría</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="post" th:action="@{/almacen/form}"
					th:object="${almacen}" class="needs-validation" novalidate>
					<input type="hidden" th:field="*{id}" />
					<div class="modal-body" id="modalMensaje">
						<div class="form-row">
							<div class="col-12 mb-3">
								<label>Nombre:</label> <input name="nombrealmacen"
									id="txtNombrealmacen" type="text" class="form-control"
									placeholder="Ingrese categoria" minlength="1" maxlength="50"
									pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}"
									required="required" />
								<div class="invalid-feedback">Ingrese el nombre</div>
								
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('nombrealmacen')}"
									th:errors="*{nombrealmacen}"></small>
									
							</div>
							
							<div class="col-12 mb-3">
								<label>Direcicón:</label> <input name="direccionalmacen"
									id="txtDireccionAlmacen" type="text" class="form-control"
									placeholder="Ingrese Dirección" minlength="1" maxlength="50"
									pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}"
									required="required" />
								<div class="invalid-feedback">Ingrese dirección</div>
								
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('direccionalmacen')}"
									th:errors="*{direccionalmacen}"></small>
									
							</div>
							<div class="col-12 mb-3">
								<label>Teléfono:</label> <input name="telefono"
									id="txttelefono" type="text" class="form-control"
									placeholder="Ingrese telefono" minlength="1" maxlength="50"
									pattern="[0-9]{1,40}" required="required" />
								<div class="invalid-feedback">Ingrese teléfono</div>

								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('telefono')}"
									th:errors="*{telefono}"></small>
	
							</div>
							<div class="col-12 mb-3">
								<label>Tipo:</label> <input name="tipo"
									id="txttipo" type="text" class="form-control"
									placeholder="Ingrese categoria" minlength="1" maxlength="50"
									pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}"
									required="required" />
								<div class="invalid-feedback">Ingrese el nombre</div>
								
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('tipo')}"
									th:errors="*{tipo}"></small>

							</div>
							<div class="form-row">
							<div class="col-12 mb-3">
								<label>Categoría:</label>
								 <select class="form-control" name="tienda.id" id="cbotienda"  required="required">
									<option value="">Seleccione una opción</option>
									<option th:each="item : ${listaTienda}"
										th:value="${item.id}" th:text="${item.nombre}"></option>
								</select>
							</div>
						</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">
							<i class="fas fa-ban"></i> Cancelar
						</button>
						<button class="btn btn-dark" type="submit">
							<i class="fas fa-save"></i> Guardar Cambios
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="  crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script th:src="@{/js/funciones_almacen.js}"></script>
	<script type="text/javascript" th:src="@{/js/nav.js}"></script>
	<script type="text/javascript" th:src="@{/js/almacen.js}"></script>

</body>
</html>