<!DOCTYPE html>
<html>
<body>
	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function(){
		$('#buscar_producto').autocomplete({
			source:function(request,response){
			$.ajax({
			url: "/factura/cargar_productos/"+request.term,
			dataType: "json",
			data:{
				term: request.term
				},
					success: function(data){
						response($.map(data, function(item){
							return{
								value: item.id,
								label: item.nombre,
								precio: item.precio
							}
						}));
					}
				});
			},
			select: function(event,ui){
				if(metodos.existeProducto(ui.item.value)){
					metodos.incrementaCantidad(ui.item.value, ui.item.precio);
					return false;
				}
			
				//$('#buscar_producto').val(ui.item.label);
				$('#buscar_producto').val('');
				var linea = $('#plantillaItemsFactura').html();
				linea = linea.replace(/{ID}/g, ui.item.value);
				linea = linea.replace(/{NOMBRE}/g, ui.item.label);
				linea = linea.replace(/{PRECIO}/g, ui.item.precio);
				$('#cargarItemProductos tbody').append(linea);
				metodos.calcularImporte(ui.item.value, ui.item.precio, 1);
				return false;
			}
		});
	});
	
	$("form").submit(function(){
		$('#plantillaItemsFactura').remove();
		return;
	})
	
	var metodos = {
			calcularImporte: function(id, precio, cantidad){
				var precio = parseFloat(precio)*parseInt(cantidad);
				$('#total_importe_'+id).html(precio.toFixed(2));
				this.calcularTotal();
			},
			existeProducto: function(id){
				var resultado = false;
				$('input[name="item_id[]"]').each(function(){
					if(parseInt(id) == parseInt($(this).val())){
						resultado = true;
					}
				});
				return resultado;
			},
			incrementaCantidad: function(id, precio){
				var cantidad = $('#cantidad_'+id).val() ? parseInt($('#cantidad_'+id).val()) : 0;
				
				$('#cantidad_'+id).val(++cantidad);
				this.calcularImporte(id,precio, cantidad);
			},
			eliminarLineaFactura: function(id){
				$('#row_'+id).remove();
				this.calcularTotal();
			},
			calcularTotal: function(){
				var total = 0;
				$('span[id^="total_importe_"]').each(function(){
					total += parseFloat($(this).html());
				});
				$('#gran_total').html(total.toFixed(2));
			}
	
	}
	</script>
</body>
</html>