<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:replace="Layouts/fragmentos :: cabeza">
<meta charset="utf-8">

</head>
<body>

	<input type="checkbox" id="check">
	<!--header area start-->
	<div class="cabeza" th:replace="Layouts/fragmentos :: Primerfragment"></div>
	<!--header area end-->
	<div class="mobile_nav"
		th:replace="Layouts/fragmentos :: Segundofragment"></div>
	<!--sidebar start-->
	<div class="sidebar" th:replace="Layouts/fragmentos :: Tercerfragment"></div>
	<!--sidebar end-->

	<div class="content">
		<div th:replace="Layouts/fragmentos :: advertencias"></div>
		<div class="container mt-4">			
			<form th:action="@{/categoria/form}" th:object="${categoria}"
				method="post" class="needs-validation" novalidate>
				<div class="card">
					<div class="card-header color-barra text-white">Datos de la
						Categoría</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 mb-3">
								<label>Categoria:</label> <input th:field="*{categorianombre}"
									type="text" class="form-control" 
									placeholder="Ingrese Categoria" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}"
									required="required"
									th:errorclass="'form-control alert-danger'" />
								<div class="invalid-feedback">Ingrese Categoria</div>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('categorianombre')}"
									th:errors="*{categorianombre}"></small>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-12 text-center">
								<button type="submit" class="btn btn-warning">
									<i class="fas fa-save"></i> Guardar Usuario
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<br> <br> <br> <br>
			<br>
			<div class="card">
				<div class="card-header color-barra text-white">Categorías
					Registradas</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Categoria</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item: ${listaCategorias}">
									<td th:text="${item.id}"></td>
									<td th:text="${item.categorianombre}"></td>
									<td class="text-center"><a href="#" th:id="${item.id}"
										th:param1="${item.categorianombre}"
										class="btn btn-warning editarCategoria"><i
											class="fas fa-edit"></i> Editar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Editar Categoria -->
	<div id="editarCategoria" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
		data-backdrop="static">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header color-barra text-white">
					<h5 class="modal-title">Editar Categoría</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="post" th:action="@{/categoria/form}"
					th:object="${categoria}" class="needs-validation" novalidate>
					<input type="hidden" th:field="*{id}" />
					<div class="modal-body" id="modalMensaje">
						<div class="form-row">
							<div class="col-12 mb-3">
								<label>Nombre:</label> <input name="categorianombre"
									id="txtcategoria_nombre" type="text" class="form-control"
									placeholder="Ingrese categoria" minlength="1" maxlength="50"
									pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}+[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}"
									required="required" />
								<div class="invalid-feedback">Ingrese el nombre</div>
								
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('categorianombre')}"
									th:errors="*{categorianombre}"></small>

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">
							<i class="fas fa-ban"></i> Cancelar
						</button>
						<button class="btn btn-dark" type="submit">
							<i class="fas fa-save"></i> Guardar Cambios
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/nav.js}"></script>
	<script type="text/javascript" th:src="@{/js/categoria.js}"></script>
</body>
</html>